<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>971508000742-i0hbiap5p95sqct8ch667ok4dojoh3ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971508000742-i0hbiap5p95sqct8ch667ok4dojoh3ir</string>
	<key>API_KEY</key>
	<string>AIzaSyDN73-XBGMSwmLw7id1j5qB8Sk4g4WohjE</string>
	<key>GCM_SENDER_ID</key>
	<string>971508000742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fitted.Tailored</string>
	<key>PROJECT_ID</key>
	<string>tailored-a7c96</string>
	<key>STORAGE_BUCKET</key>
	<string>tailored-a7c96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:971508000742:ios:c4d046c2261f74bf</string>
	<key>DATABASE_URL</key>
	<string>https://tailored-a7c96.firebaseio.com</string>
</dict>
</plist>